<!DOCTYPE>
<html>
<head>
	<title>Member List page</title>
</head>

<body>
	<h1>Member List</h1>
	<table width="100%" border="1">
		<tr>
			<th>ID</th>
			<th>PASS</th>
			<th>SEX</th>
			<th>YEAR</th>
			<th>MONTH</th>
			<th>DAY</th>
			<th>BALANCE</th>
		</tr>
		
		<% data.forEach(function (item, index) { %>
		
		<tr>
			<td>item.m_email</td>
			<td>item.m_pwd</td>
			<td>item.m_sex</td>
			<td>item.m_year</td>
			<td>item.m_month</td>
			<td>item.m_day</td>
			<td>item.m_balance</td>
		</tr>
		<% }); %>
	</table>
</body>
</html>
